In [1]:
import pandas as pd
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 10)
pd.set_option('display.float_format', lambda x: '%.6f' % x) #为了直观的显示数字，不采用科学计数法
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif'] = ['SimHei'] # 用来正常显示中文标签
plt.rcParams['axes.unicode_minus'] = False # 用来正常显示负号
import numpy as np
np.set_printoptions(suppress = True)
import scipy
import os
import math
import time
import random
from joblib import Parallel, delayed
import warnings
from tqdm.notebook import tqdm

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
folder = '../compdata/4G5G_Data/提交文件样例/'
files = list(filter(lambda x: x[-3:] == 'csv', os.listdir(folder)))
files

['4g_PDCPDL_C48FDFBFC4072E0E.csv',
 '4g_PUSCH_C48FDFBFC4072E0E.csv',
 '4g_RRC_EA5EAA705108BDA0.csv',
 '5g_PDCPUL_F37F452354AC87C9.csv',
 '5g_RRC_EA5EAA705108BDA0.csv',
 '5g_PDCCH_F37F452354AC87C9.csv',
 '5g_PDCPDL_EA5EAA705108BDA0.csv',
 '4g_PDCCH_F37F452354AC87C9.csv',
 '4g_PDCPUL_EA5EAA705108BDA0.csv',
 '4g_PDSCH_AFE97F546A10368F.csv',
 '4g_PDSCH_EA5EAA705108BDA0.csv',
 '4g_PUSCH_F37F452354AC87C9.csv',
 '5g_PDCPUL_EA5EAA705108BDA0.csv',
 '5g_PDSCH_EA5EAA705108BDA0.csv',
 '5g_RRC_F37F452354AC87C9.csv',
 '5g_RRC_AFE97F546A10368F.csv',
 '5g_RRC_C48FDFBFC4072E0E.csv',
 '4g_PDCPUL_F37F452354AC87C9.csv',
 '5g_PDCPDL_AFE97F546A10368F.csv',
 '5g_PDCPDL_F37F452354AC87C9.csv',
 '5g_PDSCH_C48FDFBFC4072E0E.csv',
 '4g_PDCCH_C48FDFBFC4072E0E.csv',
 '4g_PDCPUL_AFE97F546A10368F.csv',
 '4g_RRC_AFE97F546A10368F.csv',
 '5g_PDCCH_C48FDFBFC4072E0E.csv',
 '5g_PDCCH_EA5EAA705108BDA0.csv',
 '5g_PDSCH_AFE97F546A10368F.csv',
 '5g_PUSCH_EA5EAA705108BDA0.csv',
 '4g_PDCCH_EA5EAA705108BDA0.csv',
 '5g_PDCCH_AFE97F546A10368F.csv',
 '5g_PDCPUL_C48FDFBFC4072E0E.csv',
 '4g_PDCPDL_EA5EAA705108BDA0.csv',
 '4g_RRC_F37F452354AC87C9.csv',
 '5g_PUSCH_F37F452354AC87C9.csv',
 '4g_PDCPDL_AFE97F546A10368F.csv',
 '4g_PDSCH_C48FDFBFC4072E0E.csv',
 '5g_PDCPDL_C48FDFBFC4072E0E.csv',
 '5g_PDCPUL_AFE97F546A10368F.csv',
 '4g_PDCCH_AFE97F546A10368F.csv',
 '4g_PDCPUL_C48FDFBFC4072E0E.csv',
 '4g_PDSCH_F37F452354AC87C9.csv',
 '4g_PUSCH_EA5EAA705108BDA0.csv',
 '5g_PUSCH_AFE97F546A10368F.csv',
 '5g_PUSCH_C48FDFBFC4072E0E.csv',
 '4g_PDCPDL_F37F452354AC87C9.csv',
 '4g_PUSCH_AFE97F546A10368F.csv',
 '4g_RRC_C48FDFBFC4072E0E.csv',
 '5g_PDSCH_F37F452354AC87C9.csv']

In [4]:
for file in files:
    userlabels = pd.read_csv(folder + file, encoding='GBK', usecols=['UserLabel']).drop_duplicates()
#     userlabels.to_pickle('preprocessed_data/Userlabel_lists_final/%s.pkl' % file[:-4])
    userlabels

                                  UserLabel
0        0000957df11d5c090b06fa4c7cb39b6b-2
1        0000957df11d5c090b06fa4c7cb39b6b-3
2        000658058cc54c9e2feac37361136352-3
3        000664643e6249a6f6fc4258fb2cd2fe-1
4      00117045b4c21fc5bd10991ecc5cf2af-104
...                                     ...
22927    ffee9064f4297588d32dad8b5c000d0c-1
22928    ffee9064f4297588d32dad8b5c000d0c-2
22929  fff027a05b1f8a6150dcf7822826c305-201
22930    fff027a05b1f8a6150dcf7822826c305-3
22931    ffff92f3d3135d932862988754c5de6c-2

[22932 rows x 1 columns]

                                  UserLabel
0        000658058cc54c9e2feac37361136352-3
1        000664643e6249a6f6fc4258fb2cd2fe-1
2        000a53c270b9ea0a1e9c900ac337c17a-2
3        000a53c270b9ea0a1e9c900ac337c17a-3
4      00117045b4c21fc5bd10991ecc5cf2af-104
...                                     ...
22927    ffe6d3f1952b51d4449d3d2d050e209e-2
22928  fff027a05b1f8a6150dcf7822826c305-102
22929  fff027a05b1f8a6150dcf7822826c305-201
22930    fff027a05b1f8a6150dcf7822826c305-3
22931    ffff92f3d3135d932862988754c5de6c-2

[22932 rows x 1 columns]

                                UserLabel
0      0009423fca6ee800cc9b977c40864927-3
1      0012841fe2dc0967a74ab4f59a3974be-2
2      0012841fe2dc0967a74ab4f59a3974be-3
3      001ff91c00e59b98c503128065ddb378-2
4      004f9e20341211543ac11382059610c8-2
...                                   ...
10791  ffdd7ddea3024b4cbcd6a7583efae05f-3
10792  ffe4d2a97d922e233d4452af4af0b0b1-2
10793  ffe857b2fc89030f97d8738aa1ff5cff-1
10794  ffe857b2fc89030f97d8738aa1ff5cff-2
10795  ffe857b2fc89030f97d8738aa1ff5cff-3

[10796 rows x 1 columns]

                              UserLabel
0    00bf8118a198a875528f956c6a426c6a-2
1    0258c15906d5dcda7c3604c023e17d7f-1
2    04b507aba5585bfa3effd058e8bf5989-3
3    0659da24be22b0d43b779f173a41a2f1-3
4    084f6db9476b0e9ea3358128b3a1a051-1
..                                  ...
202  f81b7f89f2b75f8396de3bdf334c3a1c-1
203  f8c109d863829ccf7f565fc1fc86ba1c-2
204  fa31860d34e49a1de625329bd47e341a-3
205  fca6353eb0825143501d1d89bc13a914-3
206  fff0323390cd7863c444417783676b5d-1

[207 rows x 1 columns]

                              UserLabel
0    00853eb62caee38c654ec1d9b7258580-3
1    02abec48fb0f22bf8f34f3ae61c23211-1
2    02c9a98ef7d91e64997d8bc4f72b4625-2
3    03f4a59358246eeaeb3f1d65145eb3c8-1
4    0499de903c5514b847bdab1cbfbaed58-2
..                                  ...
647  ffb6c60d96b1797cc321dfb71e775c16-1
648  ffbc00a6746d42cf47db9faace378202-1
649  ffbc00a6746d42cf47db9faace378202-3
650  ffc32bf3bcf7bfd0d685fcf7cda1f8a0-1
651  ffc32bf3bcf7bfd0d685fcf7cda1f8a0-2

[652 rows x 1 columns]

                              UserLabel
0    00bf8118a198a875528f956c6a426c6a-2
1    0258c15906d5dcda7c3604c023e17d7f-1
2    044eed89e34909d5eeefa14113029e1a-1
3    0659da24be22b0d43b779f173a41a2f1-1
4    0659da24be22b0d43b779f173a41a2f1-3
..                                  ...
202  f8c109d863829ccf7f565fc1fc86ba1c-2
203  fa31860d34e49a1de625329bd47e341a-1
204  fa31860d34e49a1de625329bd47e341a-3
205  fc09b9f0dc9a66983fda23019cbcf7c7-2
206  fca6353eb0825143501d1d89bc13a914-3

[207 rows x 1 columns]

                              UserLabel
0    00853eb62caee38c654ec1d9b7258580-3
1    018e5b516a899644b0b77a1357cec8fb-1
2    02abec48fb0f22bf8f34f3ae61c23211-1
3    02c9a98ef7d91e64997d8bc4f72b4625-2
4    03f4a59358246eeaeb3f1d65145eb3c8-1
..                                  ...
647  ffb6c60d96b1797cc321dfb71e775c16-1
648  ffbc00a6746d42cf47db9faace378202-1
649  ffbc00a6746d42cf47db9faace378202-3
650  ffc32bf3bcf7bfd0d685fcf7cda1f8a0-1
651  ffc32bf3bcf7bfd0d685fcf7cda1f8a0-2

[652 rows x 1 columns]

                                 UserLabel
0       001cdbaf34b20aeffb2e9788bba4a58a-1
1     003e1b5968c1d7aca5fa380bebf1dadc-103
2     004258cef88cd476ce01ecd6838e1212-101
3     004258cef88cd476ce01ecd6838e1212-103
4       0055fc44f3e1d0cb01be6597cff14460-1
...                                    ...
5218    ffe41a7065e57932494e595cebdb1383-2
5219    ffe41a7065e57932494e595cebdb1383-3
5220    ffe4bcb0d55ae217dfc035b59b147713-1
5221    ffe4bcb0d55ae217dfc035b59b147713-3
5222    fff172c389f5074fabed4a430f2b0400-1

[5223 rows x 1 columns]

                                UserLabel
0      0009423fca6ee800cc9b977c40864927-3
1      0012841fe2dc0967a74ab4f59a3974be-2
2      0012841fe2dc0967a74ab4f59a3974be-3
3      001ff91c00e59b98c503128065ddb378-2
4      0032531a5d8a129ebfe9c122c68dbcde-1
...                                   ...
10791  ffdd7ddea3024b4cbcd6a7583efae05f-3
10792  ffe4d2a97d922e233d4452af4af0b0b1-2
10793  ffe857b2fc89030f97d8738aa1ff5cff-1
10794  ffe857b2fc89030f97d8738aa1ff5cff-2
10795  ffe857b2fc89030f97d8738aa1ff5cff-3

[10796 rows x 1 columns]

                                  UserLabel
0        000434ae1d9f8682cbef64acc4675ac3-1
1        000434ae1d9f8682cbef64acc4675ac3-2
2        0009ca3a59a2ca50c26970d319a3d9a0-1
3      0009ca3a59a2ca50c26970d319a3d9a0-101
4      0009ca3a59a2ca50c26970d319a3d9a0-102
...                                     ...
24369    ffe042a2d61a846fe8e93e25d66384b4-3
24370    ffe31bcd25e9a1ef3cbe580b014abb9f-3
24371    ffe9de56942ec25c21caa30fbe05ca5b-1
24372    ffedd6894f34979b8d91974d2466417e-2
24373    ffff157827c397274dd2c979e83dcbf8-3

[24374 rows x 1 columns]

                                  UserLabel
0        0012841fe2dc0967a74ab4f59a3974be-3
1        001ff91c00e59b98c503128065ddb378-2
2      002abd6cad68b6d74ff82c195d214b77-103
3        004f9e20341211543ac11382059610c8-2
4        00545dae6d3a904e49ad23a5e269c8c6-3
...                                     ...
10791    ffd12e51157c4779549a4dd6200c5901-1
10792    ffd12e51157c4779549a4dd6200c5901-3
10793    ffe857b2fc89030f97d8738aa1ff5cff-1
10794    ffeab9e58d198ca266010100b115e00e-1
10795    ffeab9e58d198ca266010100b115e00e-2

[10796 rows x 1 columns]

                                 UserLabel
0       003d860fec11f33a17ad366e50697b5e-1
1       003d860fec11f33a17ad366e50697b5e-2
2     003e1b5968c1d7aca5fa380bebf1dadc-103
3       003e1b5968c1d7aca5fa380bebf1dadc-2
4       003e1b5968c1d7aca5fa380bebf1dadc-3
...                                    ...
5218    ffe41a7065e57932494e595cebdb1383-2
5219    ffe41a7065e57932494e595cebdb1383-3
5220    ffe4bcb0d55ae217dfc035b59b147713-3
5221    fff172c389f5074fabed4a430f2b0400-1
5222    fff172c389f5074fabed4a430f2b0400-2

[5223 rows x 1 columns]

                              UserLabel
0    00853eb62caee38c654ec1d9b7258580-3
1    02048b7b5151b6a9722f157d9fb32e2a-1
2    02abec48fb0f22bf8f34f3ae61c23211-1
3    02c9a98ef7d91e64997d8bc4f72b4625-2
4    03f4a59358246eeaeb3f1d65145eb3c8-1
..                                  ...
647  ffb6c60d96b1797cc321dfb71e775c16-1
648  ffbc00a6746d42cf47db9faace378202-1
649  ffbc00a6746d42cf47db9faace378202-3
650  ffc32bf3bcf7bfd0d685fcf7cda1f8a0-1
651  ffc32bf3bcf7bfd0d685fcf7cda1f8a0-2

[652 rows x 1 columns]

                              UserLabel
0    00853eb62caee38c654ec1d9b7258580-1
1    00853eb62caee38c654ec1d9b7258580-3
2    00dc7603bcca7f5a0381d3c6d808cad1-1
3    018e5b516a899644b0b77a1357cec8fb-1
4    02048b7b5151b6a9722f157d9fb32e2a-1
..                                  ...
647  ff39f963ea29a05c7cab16fb3c8ab12c-3
648  ffb6c60d96b1797cc321dfb71e775c16-1
649  ffbc00a6746d42cf47db9faace378202-1
650  ffbc00a6746d42cf47db9faace378202-2
651  ffbc00a6746d42cf47db9faace378202-3

[652 rows x 1 columns]

                              UserLabel
0    00bf8118a198a875528f956c6a426c6a-2
1    0258c15906d5dcda7c3604c023e17d7f-1
2    044eed89e34909d5eeefa14113029e1a-1
3    0659da24be22b0d43b779f173a41a2f1-1
4    0659da24be22b0d43b779f173a41a2f1-3
..                                  ...
202  f8c109d863829ccf7f565fc1fc86ba1c-2
203  fa31860d34e49a1de625329bd47e341a-3
204  fc09b9f0dc9a66983fda23019cbcf7c7-2
205  fca6353eb0825143501d1d89bc13a914-3
206  fff0323390cd7863c444417783676b5d-1

[207 rows x 1 columns]

                               UserLabel
0     0015bfecffa01646b2a8ccc660fbe66a-2
1     007d35a2c500c8aa35136a09117cdeb0-1
2     007d35a2c500c8aa35136a09117cdeb0-2
3     00997107aac366421351f265899d2d14-3
4     00a2252a72e8f12696b78fa8b005cb00-1
...                                  ...
1709  ff665762ed203351ed48ee338976bb09-3
1710  ff6df642547ba7b6fb34deb98e665585-3
1711  ff9ecfdb36bbf98a82dc7106c0a76f58-2
1712  ffab6f79511aa29f73dc825757022053-2
1713  ffab6f79511aa29f73dc825757022053-3

[1714 rows x 1 columns]

                               UserLabel
0     0021d5a0c751023dfb91d5d933ef4cd5-1
1     00267b9ea4f3af222eaa6e17eb121f55-1
2     002e48d08c7763495263116429028d3c-1
3     00b6a37a4a409aee963f9587ed3bbee9-2
4     00b6a37a4a409aee963f9587ed3bbee9-3
...                                  ...
1782  ff4e2fe1d2d9136694c49ef8154f2718-3
1783  ff94070b2b363bb88caa39f1df1b3077-1
1784  ff94070b2b363bb88caa39f1df1b3077-2
1785  ffa6d3c90e29a7aec1ad9887eb2d7c9e-1
1786  ffe1350cb95e204abba8a421c488e8b7-1

[1787 rows x 1 columns]

                                 UserLabel
0       001586cce308d79ebeebb19778c96d88-3
1       003d860fec11f33a17ad366e50697b5e-2
2     003e1b5968c1d7aca5fa380bebf1dadc-103
3       003e1b5968c1d7aca5fa380bebf1dadc-3
4       00451d3a34ef706d6d2bdc1a89d7fa52-1
...                                    ...
5218    ffd0df8b8f458c1696607180c6b4ba44-3
5219    ffd8c0d4fc60dc114ea965755fa5f45f-1
5220    ffd8c0d4fc60dc114ea965755fa5f45f-3
5221    ffe41a7065e57932494e595cebdb1383-3
5222    fff172c389f5074fabed4a430f2b0400-1

[5223 rows x 1 columns]

                               UserLabel
0     0015bfecffa01646b2a8ccc660fbe66a-2
1     007d35a2c500c8aa35136a09117cdeb0-1
2     007d35a2c500c8aa35136a09117cdeb0-2
3     00997107aac366421351f265899d2d14-3
4     00a2252a72e8f12696b78fa8b005cb00-1
...                                  ...
1709  ff4f0c4ff714e1e83f2a7d82ab262bc3-3
1710  ff665762ed203351ed48ee338976bb09-3
1711  ff6df642547ba7b6fb34deb98e665585-3
1712  ff9ecfdb36bbf98a82dc7106c0a76f58-2
1713  ffab6f79511aa29f73dc825757022053-2

[1714 rows x 1 columns]

                              UserLabel
0    00bf8118a198a875528f956c6a426c6a-2
1    0258c15906d5dcda7c3604c023e17d7f-1
2    044eed89e34909d5eeefa14113029e1a-1
3    04b507aba5585bfa3effd058e8bf5989-3
4    061a78cb98b9c13cd525eb8bd0ba9beb-3
..                                  ...
202  f81b7f89f2b75f8396de3bdf334c3a1c-1
203  f8c109d863829ccf7f565fc1fc86ba1c-2
204  fa31860d34e49a1de625329bd47e341a-3
205  fc09b9f0dc9a66983fda23019cbcf7c7-2
206  fca6353eb0825143501d1d89bc13a914-3

[207 rows x 1 columns]

                               UserLabel
0     0021d5a0c751023dfb91d5d933ef4cd5-1
1     00267b9ea4f3af222eaa6e17eb121f55-1
2     002e48d08c7763495263116429028d3c-1
3     002eed4d88ae19cb6159cb5ad2d53b3b-3
4     0089fa8a29413b709ebefebd2a71e006-1
...                                  ...
1782  ff4e2fe1d2d9136694c49ef8154f2718-3
1783  ff8b4716edf82f6304db2dab1aef2541-3
1784  ff94070b2b363bb88caa39f1df1b3077-1
1785  ff94070b2b363bb88caa39f1df1b3077-2
1786  ffa6d3c90e29a7aec1ad9887eb2d7c9e-1

[1787 rows x 1 columns]

                                UserLabel
0      0000957df11d5c090b06fa4c7cb39b6b-2
1      0000957df11d5c090b06fa4c7cb39b6b-3
2      000658058cc54c9e2feac37361136352-2
3      000658058cc54c9e2feac37361136352-3
4      000664643e6249a6f6fc4258fb2cd2fe-1
...                                   ...
22927  ffee9064f4297588d32dad8b5c000d0c-2
22928  fff6031b0288767302dbf23c353cb7ed-1
22929  fff6031b0288767302dbf23c353cb7ed-2
22930  fff6031b0288767302dbf23c353cb7ed-3
22931  ffff92f3d3135d932862988754c5de6c-2

[22932 rows x 1 columns]

                                  UserLabel
0        000434ae1d9f8682cbef64acc4675ac3-1
1        0004e3ed31b2a98fe365a62b59d2cae3-2
2        0009ca3a59a2ca50c26970d319a3d9a0-1
3      0009ca3a59a2ca50c26970d319a3d9a0-103
4        0009ca3a59a2ca50c26970d319a3d9a0-3
...                                     ...
24369    ffe042a2d61a846fe8e93e25d66384b4-3
24370    ffe31bcd25e9a1ef3cbe580b014abb9f-3
24371    ffe9de56942ec25c21caa30fbe05ca5b-1
24372    ffedd6894f34979b8d91974d2466417e-2
24373    ffff157827c397274dd2c979e83dcbf8-3

[24374 rows x 1 columns]

                                  UserLabel
0        000434ae1d9f8682cbef64acc4675ac3-1
1        0004e3ed31b2a98fe365a62b59d2cae3-2
2      0009ca3a59a2ca50c26970d319a3d9a0-103
3        0009ca3a59a2ca50c26970d319a3d9a0-3
4        000cfb2a8e382d9117b07ae19756102a-1
...                                     ...
24369    ffdd597e94a639a4739e67b65e783946-1
24370    ffe31bcd25e9a1ef3cbe580b014abb9f-3
24371    ffe9de56942ec25c21caa30fbe05ca5b-1
24372    ffedd6894f34979b8d91974d2466417e-2
24373    ffff157827c397274dd2c979e83dcbf8-3

[24374 rows x 1 columns]

                               UserLabel
0     0010a80c16d3daf90148188f3a153b52-1
1     0010a80c16d3daf90148188f3a153b52-3
2     0021d5a0c751023dfb91d5d933ef4cd5-1
3     00b6a37a4a409aee963f9587ed3bbee9-3
4     00d33a090932eb90f44b2fcb93e632c8-2
...                                  ...
1782  ff4e2fe1d2d9136694c49ef8154f2718-3
1783  ff8b4716edf82f6304db2dab1aef2541-1
1784  ff8b4716edf82f6304db2dab1aef2541-3
1785  ff94070b2b363bb88caa39f1df1b3077-1
1786  ffe1350cb95e204abba8a421c488e8b7-1

[1787 rows x 1 columns]

                              UserLabel
0    00853eb62caee38c654ec1d9b7258580-1
1    00853eb62caee38c654ec1d9b7258580-3
2    018e5b516a899644b0b77a1357cec8fb-1
3    02048b7b5151b6a9722f157d9fb32e2a-1
4    028619517b1d1f52cbce6b580265717f-3
..                                  ...
647  ff39f963ea29a05c7cab16fb3c8ab12c-3
648  ffb6c60d96b1797cc321dfb71e775c16-1
649  ffbc00a6746d42cf47db9faace378202-1
650  ffbc00a6746d42cf47db9faace378202-2
651  ffbc00a6746d42cf47db9faace378202-3

[652 rows x 1 columns]

                               UserLabel
0     0015bfecffa01646b2a8ccc660fbe66a-1
1     0015bfecffa01646b2a8ccc660fbe66a-2
2     007d35a2c500c8aa35136a09117cdeb0-1
3     007d35a2c500c8aa35136a09117cdeb0-2
4     00a2252a72e8f12696b78fa8b005cb00-1
...                                  ...
1709  fe94c09fb42123eceed2adeee60a7d8b-3
1710  feddf56650aae9e7c537e8e3f6e95a60-1
1711  ff1e9b16a3ae90e681d9d10538d1ac25-6
1712  ff4f0c4ff714e1e83f2a7d82ab262bc3-1
1713  ff4f0c4ff714e1e83f2a7d82ab262bc3-3

[1714 rows x 1 columns]

                              UserLabel
0    0187bab4a9b34d9d8cfe595a612039f7-1
1    0187bab4a9b34d9d8cfe595a612039f7-2
2    0187bab4a9b34d9d8cfe595a612039f7-3
3    03f4a59358246eeaeb3f1d65145eb3c8-1
4    05030c9fbf0ec797623a236a9fc7a6c8-1
..                                  ...
647  fd4bcb2cba64d877b34b34b09ed18266-2
648  fd4bcb2cba64d877b34b34b09ed18266-3
649  fea540aa4a2cd53c0a3c085799be5ff8-1
650  ff073d3659edebdb817fa61a54504b93-2
651  ff073d3659edebdb817fa61a54504b93-3

[652 rows x 1 columns]

                                UserLabel
0      001ff91c00e59b98c503128065ddb378-2
1      004f9e20341211543ac11382059610c8-2
2      004f9e20341211543ac11382059610c8-3
3      00545dae6d3a904e49ad23a5e269c8c6-1
4      00545dae6d3a904e49ad23a5e269c8c6-2
...                                   ...
10791  ffc23776921a4dbf9a9cce02666c3cae-1
10792  ffc23776921a4dbf9a9cce02666c3cae-2
10793  ffc23776921a4dbf9a9cce02666c3cae-3
10794  ffeab9e58d198ca266010100b115e00e-1
10795  ffeab9e58d198ca266010100b115e00e-2

[10796 rows x 1 columns]

                               UserLabel
0     0015bfecffa01646b2a8ccc660fbe66a-1
1     0015bfecffa01646b2a8ccc660fbe66a-2
2     0015bfecffa01646b2a8ccc660fbe66a-3
3     007d35a2c500c8aa35136a09117cdeb0-1
4     007d35a2c500c8aa35136a09117cdeb0-2
...                                  ...
1709  ff1e9b16a3ae90e681d9d10538d1ac25-5
1710  ff1e9b16a3ae90e681d9d10538d1ac25-6
1711  ff4f0c4ff714e1e83f2a7d82ab262bc3-1
1712  ff9ecfdb36bbf98a82dc7106c0a76f58-2
1713  ffab6f79511aa29f73dc825757022053-2

[1714 rows x 1 columns]

                               UserLabel
0     0021d5a0c751023dfb91d5d933ef4cd5-1
1     002e48d08c7763495263116429028d3c-1
2     00b6a37a4a409aee963f9587ed3bbee9-1
3     00b6a37a4a409aee963f9587ed3bbee9-2
4     00b6a37a4a409aee963f9587ed3bbee9-3
...                                  ...
1782  ff4e2fe1d2d9136694c49ef8154f2718-3
1783  ff94070b2b363bb88caa39f1df1b3077-1
1784  ff94070b2b363bb88caa39f1df1b3077-2
1785  ffa6d3c90e29a7aec1ad9887eb2d7c9e-1
1786  ffe1350cb95e204abba8a421c488e8b7-1

[1787 rows x 1 columns]

                                UserLabel
0      0009423fca6ee800cc9b977c40864927-3
1      0012841fe2dc0967a74ab4f59a3974be-2
2      0012841fe2dc0967a74ab4f59a3974be-3
3      001ff91c00e59b98c503128065ddb378-2
4      0032531a5d8a129ebfe9c122c68dbcde-1
...                                   ...
10791  ffdd7ddea3024b4cbcd6a7583efae05f-3
10792  ffe4d2a97d922e233d4452af4af0b0b1-2
10793  ffe857b2fc89030f97d8738aa1ff5cff-1
10794  ffe857b2fc89030f97d8738aa1ff5cff-2
10795  ffe857b2fc89030f97d8738aa1ff5cff-3

[10796 rows x 1 columns]

                                 UserLabel
0       003d860fec11f33a17ad366e50697b5e-2
1       003e1b5968c1d7aca5fa380bebf1dadc-1
2     003e1b5968c1d7aca5fa380bebf1dadc-103
3       003e1b5968c1d7aca5fa380bebf1dadc-3
4       00451d3a34ef706d6d2bdc1a89d7fa52-1
...                                    ...
5218    ffd8c0d4fc60dc114ea965755fa5f45f-3
5219    ffe41a7065e57932494e595cebdb1383-2
5220    ffe41a7065e57932494e595cebdb1383-3
5221    ffe4bcb0d55ae217dfc035b59b147713-3
5222    fff172c389f5074fabed4a430f2b0400-1

[5223 rows x 1 columns]

                              UserLabel
0    00bf8118a198a875528f956c6a426c6a-2
1    0155b674984e395a1c8d1c506a546f58-1
2    0258c15906d5dcda7c3604c023e17d7f-1
3    044eed89e34909d5eeefa14113029e1a-1
4    04b507aba5585bfa3effd058e8bf5989-3
..                                  ...
202  f4bf0b71d4ed31aa12bca34b806e17b3-2
203  f8c109d863829ccf7f565fc1fc86ba1c-2
204  f9b3830851e9cddc7a4a95c0bc43e8ce-3
205  fa31860d34e49a1de625329bd47e341a-1
206  fa31860d34e49a1de625329bd47e341a-3

[207 rows x 1 columns]

                                  UserLabel
0        000434ae1d9f8682cbef64acc4675ac3-1
1        0004e3ed31b2a98fe365a62b59d2cae3-2
2      0009ca3a59a2ca50c26970d319a3d9a0-103
3        0009ca3a59a2ca50c26970d319a3d9a0-2
4        0009ca3a59a2ca50c26970d319a3d9a0-3
...                                     ...
24369    ffe31bcd25e9a1ef3cbe580b014abb9f-3
24370  ffe4e3ccba1f48ad654230e5bd9b0c60-101
24371    ffe9de56942ec25c21caa30fbe05ca5b-1
24372    ffedd6894f34979b8d91974d2466417e-2
24373    ffff157827c397274dd2c979e83dcbf8-3

[24374 rows x 1 columns]

                                UserLabel
0      0000957df11d5c090b06fa4c7cb39b6b-2
1      0000957df11d5c090b06fa4c7cb39b6b-3
2      000658058cc54c9e2feac37361136352-3
3      000664643e6249a6f6fc4258fb2cd2fe-1
4      000a53c270b9ea0a1e9c900ac337c17a-3
...                                   ...
22927  ffee9064f4297588d32dad8b5c000d0c-1
22928  ffee9064f4297588d32dad8b5c000d0c-2
22929  fff027a05b1f8a6150dcf7822826c305-3
22930  fff6031b0288767302dbf23c353cb7ed-1
22931  ffff92f3d3135d932862988754c5de6c-2

[22932 rows x 1 columns]

                               UserLabel
0     0021d5a0c751023dfb91d5d933ef4cd5-1
1     00267b9ea4f3af222eaa6e17eb121f55-1
2     002e48d08c7763495263116429028d3c-1
3     00b6a37a4a409aee963f9587ed3bbee9-1
4     00b6a37a4a409aee963f9587ed3bbee9-2
...                                  ...
1782  ff4e2fe1d2d9136694c49ef8154f2718-3
1783  ff94070b2b363bb88caa39f1df1b3077-1
1784  ff94070b2b363bb88caa39f1df1b3077-2
1785  ffa6d3c90e29a7aec1ad9887eb2d7c9e-1
1786  ffe1350cb95e204abba8a421c488e8b7-1

[1787 rows x 1 columns]

                               UserLabel
0     0015bfecffa01646b2a8ccc660fbe66a-2
1     006e7aaae85b048750860be44cee85f2-3
2     007d35a2c500c8aa35136a09117cdeb0-1
3     007d35a2c500c8aa35136a09117cdeb0-2
4     00997107aac366421351f265899d2d14-3
...                                  ...
1709  ff665762ed203351ed48ee338976bb09-1
1710  ff665762ed203351ed48ee338976bb09-3
1711  ff6df642547ba7b6fb34deb98e665585-3
1712  ff9ecfdb36bbf98a82dc7106c0a76f58-2
1713  ffab6f79511aa29f73dc825757022053-2

[1714 rows x 1 columns]

                                  UserLabel
0        000434ae1d9f8682cbef64acc4675ac3-1
1        000434ae1d9f8682cbef64acc4675ac3-2
2      0009ca3a59a2ca50c26970d319a3d9a0-103
3        0009ca3a59a2ca50c26970d319a3d9a0-3
4       000cfa09125f26cb610fb085f072568f-10
...                                     ...
24369    ffdd597e94a639a4739e67b65e783946-1
24370    ffe042a2d61a846fe8e93e25d66384b4-3
24371    ffe31bcd25e9a1ef3cbe580b014abb9f-3
24372    ffedd6894f34979b8d91974d2466417e-2
24373    ffff157827c397274dd2c979e83dcbf8-3

[24374 rows x 1 columns]

                                  UserLabel
0        0000957df11d5c090b06fa4c7cb39b6b-2
1        0000957df11d5c090b06fa4c7cb39b6b-3
2        000658058cc54c9e2feac37361136352-3
3        000664643e6249a6f6fc4258fb2cd2fe-1
4      00117045b4c21fc5bd10991ecc5cf2af-104
...                                     ...
22927    ffe6d3f1952b51d4449d3d2d050e209e-3
22928    ffee9064f4297588d32dad8b5c000d0c-1
22929    ffee9064f4297588d32dad8b5c000d0c-2
22930    fff027a05b1f8a6150dcf7822826c305-3
22931    ffff92f3d3135d932862988754c5de6c-2

[22932 rows x 1 columns]

                                 UserLabel
0       001cdbaf34b20aeffb2e9788bba4a58a-1
1     003e1b5968c1d7aca5fa380bebf1dadc-103
2       003f1d2c0ef5f23fa1ba349dbd90596a-2
3     004258cef88cd476ce01ecd6838e1212-101
4     004258cef88cd476ce01ecd6838e1212-103
...                                    ...
5218    ffe41a7065e57932494e595cebdb1383-2
5219    ffe41a7065e57932494e595cebdb1383-3
5220    ffe4bcb0d55ae217dfc035b59b147713-1
5221    ffe4bcb0d55ae217dfc035b59b147713-3
5222    fff172c389f5074fabed4a430f2b0400-1

[5223 rows x 1 columns]

                                  UserLabel
0        0009423fca6ee800cc9b977c40864927-3
1        0012841fe2dc0967a74ab4f59a3974be-2
2      0032531a5d8a129ebfe9c122c68dbcde-108
3      0032531a5d8a129ebfe9c122c68dbcde-204
4        003d3d3deb782896c9f53d4829908452-1
...                                     ...
10791    ffd12e51157c4779549a4dd6200c5901-3
10792    ffdd7ddea3024b4cbcd6a7583efae05f-3
10793    ffe857b2fc89030f97d8738aa1ff5cff-1
10794    ffe857b2fc89030f97d8738aa1ff5cff-2
10795    ffe857b2fc89030f97d8738aa1ff5cff-3

[10796 rows x 1 columns]

                               UserLabel
0     0015bfecffa01646b2a8ccc660fbe66a-2
1     007d35a2c500c8aa35136a09117cdeb0-1
2     007d35a2c500c8aa35136a09117cdeb0-2
3     00997107aac366421351f265899d2d14-3
4     00ccd1696a966436b4d565b2cc9f3015-1
...                                  ...
1709  ff4f0c4ff714e1e83f2a7d82ab262bc3-1
1710  ff9ecfdb36bbf98a82dc7106c0a76f58-2
1711  ffab6f79511aa29f73dc825757022053-1
1712  ffab6f79511aa29f73dc825757022053-2
1713  ffab6f79511aa29f73dc825757022053-3

[1714 rows x 1 columns]

                               UserLabel
0     0021d5a0c751023dfb91d5d933ef4cd5-1
1     00267b9ea4f3af222eaa6e17eb121f55-1
2     002e48d08c7763495263116429028d3c-3
3     0089fa8a29413b709ebefebd2a71e006-1
4     00b6a37a4a409aee963f9587ed3bbee9-2
...                                  ...
1782  ff48a335b199400c8943f3f864693207-1
1783  ff4e2fe1d2d9136694c49ef8154f2718-3
1784  ff94070b2b363bb88caa39f1df1b3077-1
1785  ff94070b2b363bb88caa39f1df1b3077-2
1786  ffa6d3c90e29a7aec1ad9887eb2d7c9e-1

[1787 rows x 1 columns]

                                 UserLabel
0       001586cce308d79ebeebb19778c96d88-3
1       003d860fec11f33a17ad366e50697b5e-1
2       003d860fec11f33a17ad366e50697b5e-2
3     003e1b5968c1d7aca5fa380bebf1dadc-103
4       003e1b5968c1d7aca5fa380bebf1dadc-3
...                                    ...
5218    ffd8c0d4fc60dc114ea965755fa5f45f-1
5219    ffd8c0d4fc60dc114ea965755fa5f45f-3
5220    ffe41a7065e57932494e595cebdb1383-2
5221    ffe41a7065e57932494e595cebdb1383-3
5222    fff172c389f5074fabed4a430f2b0400-1

[5223 rows x 1 columns]

                                  UserLabel
0        000434ae1d9f8682cbef64acc4675ac3-1
1        000434ae1d9f8682cbef64acc4675ac3-2
2        0004e3ed31b2a98fe365a62b59d2cae3-2
3      0009ca3a59a2ca50c26970d319a3d9a0-103
4        0009ca3a59a2ca50c26970d319a3d9a0-2
...                                     ...
24369    ffe31bcd25e9a1ef3cbe580b014abb9f-3
24370  ffe4e3ccba1f48ad654230e5bd9b0c60-101
24371    ffe9de56942ec25c21caa30fbe05ca5b-1
24372    ffedd6894f34979b8d91974d2466417e-2
24373    ffff157827c397274dd2c979e83dcbf8-3

[24374 rows x 1 columns]

                                UserLabel
0      0000957df11d5c090b06fa4c7cb39b6b-2
1      0000957df11d5c090b06fa4c7cb39b6b-3
2      000658058cc54c9e2feac37361136352-3
3      000664643e6249a6f6fc4258fb2cd2fe-1
4      000a53c270b9ea0a1e9c900ac337c17a-2
...                                   ...
22927  ffe6d3f1952b51d4449d3d2d050e209e-1
22928  ffe6d3f1952b51d4449d3d2d050e209e-2
22929  ffee9064f4297588d32dad8b5c000d0c-1
22930  fff027a05b1f8a6150dcf7822826c305-3
22931  ffff92f3d3135d932862988754c5de6c-2

[22932 rows x 1 columns]

                              UserLabel
0    00bf8118a198a875528f956c6a426c6a-2
1    0258c15906d5dcda7c3604c023e17d7f-1
2    044eed89e34909d5eeefa14113029e1a-1
3    0659da24be22b0d43b779f173a41a2f1-1
4    084f6db9476b0e9ea3358128b3a1a051-3
..                                  ...
202  f81b7f89f2b75f8396de3bdf334c3a1c-1
203  f8c109d863829ccf7f565fc1fc86ba1c-2
204  fa31860d34e49a1de625329bd47e341a-1
205  fa31860d34e49a1de625329bd47e341a-3
206  fca6353eb0825143501d1d89bc13a914-3

[207 rows x 1 columns]